

<div class="flex-container">
    <div class="card" style="width: 18rem;">
        <img src="assets/images/kristin-o-karlsen-MTDD8l_avtg-unsplash.jpg" class="card-img-top" alt="some img">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img src="assets/images/kristin-o-karlsen-MTDD8l_avtg-unsplash.jpg" class="card-img-top" alt="some img">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/images/kristin-o-karlsen-MTDD8l_avtg-unsplash.jpg" class="card-img-top" alt="some img">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/images/kristin-o-karlsen-MTDD8l_avtg-unsplash.jpg" class="card-img-top" alt="some img">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

