<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/home" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" href="#">About</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/service1"  href="#">Service 1</a></li>
            <li><a class="dropdown-item" routerLink="/service2" href="#">Service 2</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" routerLink="/contact" href="#">Contact Us</a>
      <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a> -->
    </li>
  </ul>